.btn {
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: 2px solid;
    background-color: transparent;
    border-radius: 22px;
    font-size: 1rem;
    color: #000;
    transform: scale(1);
    transition: transform 0.5s ease, color 0.5s ease;
}

.btn:hover {
    transform: scale(1.2);
}

body.dark .btn {
    color: white;
}
